
  <div class="center jumbotron jumbotron-fluid">
    <div class="container">
      <div class="bg"></div>
      <h1 class="display-3">
        <%= Article.last.title %>
      </h1>
      <p class="lead">
        <%= Article.last.description %>
      </p>
      <%= link_to "More", "#", class: "btn btn-outline-primary btn-lg btn-xlarge" %>
    </div>
  </div>
