<h1 align="center">Categories</h1>

<div class="mb-5 mt-3">

<%= will_paginate @categories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

<% @categories.each do |category| %>
  <ul class="listing">
    <div class="row">
        <div class="card col-md-4 offset-md-4 text-center">
          <div class="card-block">
            <div class="article-title-list">
              <%= link_to category.name, category_path(category), class: "lead" %>
            </div>
          </div>
        </div>
    </div>
  </ul>
<% end %>

<%= will_paginate @categories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

</div>
